:root {
  --mask-img-1: url("data:image/svg+xml,%3Csvg width='704' height='494' viewBox='0 0 704 494' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_308_861)'%3E%3Cpath d='M195.802 38.282L116.556 38.282C107.76 38.282 100.625 45.1379 100.625 53.5919V83.1202C74.7426 83.1202 53.7538 103.289 53.7538 128.158V128.85C26.273 128.85 4.00012 150.26 4.00012 176.663L4.00012 308.482C4.00012 334.885 26.273 356.295 53.7538 356.295V356.987C53.7538 381.864 74.7355 402.025 100.625 402.025V431.553C100.625 440.007 107.76 446.863 116.556 446.863H195.802C195.802 468.009 213.638 485.145 235.64 485.145L467.771 485.145C489.773 485.145 507.608 468.002 507.608 446.863L586.855 446.863C595.651 446.863 602.785 440.007 602.785 431.553V402.025C628.668 402.025 649.657 381.857 649.657 356.987V356.295C677.138 356.295 699.411 334.892 699.411 308.482L699.411 176.663C699.411 150.26 677.138 128.85 649.657 128.85V128.158C649.657 103.281 628.675 83.1202 602.785 83.1202V53.5919C602.785 45.1379 595.651 38.282 586.855 38.282L507.608 38.282C507.616 17.1434 489.78 0 467.778 0L235.647 0C213.645 0 195.809 17.1434 195.809 38.282H195.802Z' fill='%23C4C4C4'/%3E%3Cpath d='M693.411 176.663L693.411 308.481C693.411 331.356 674.051 350.295 649.657 350.295H643.657V356.986C643.657 378.319 625.582 396.024 602.786 396.024H596.786V431.553C596.786 436.47 592.565 440.863 586.855 440.863L501.609 440.863V446.863C501.609 464.466 486.686 479.146 467.771 479.146L235.639 479.146C216.724 479.145 201.802 464.472 201.802 446.863V440.863H116.556C110.846 440.863 106.625 436.47 106.625 431.553V396.024H100.625C77.8214 396.024 59.7534 378.326 59.7534 356.986V350.295L53.7534 350.295C29.3597 350.295 10.0005 331.349 10.0005 308.481L10.0005 176.663C10.0007 153.796 29.3599 134.851 53.7534 134.851H59.7534V128.158C59.7534 106.826 77.8286 89.1201 100.625 89.1201H106.625V53.5918C106.626 48.6741 110.846 44.2822 116.556 44.2822L201.809 44.2822V38.2822C201.809 20.6799 216.732 6 235.647 6L467.779 6C486.694 6.00023 501.615 20.6801 501.609 38.2803L501.606 44.2822L586.855 44.2822C592.565 44.2823 596.786 48.6742 596.786 53.5918V89.1201H602.786C625.59 89.1202 643.657 106.819 643.657 128.158V134.851H649.657C674.05 134.851 693.41 153.796 693.411 176.663Z' stroke='%23B1492D' stroke-width='12'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_308_861' x='0' y='0' width='703.411' height='493.145' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_308_861'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_308_861' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  --mask-img-2: url("data:image/svg+xml,%3Csvg width='704' height='702' viewBox='0 0 704 702' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_308_909)'%3E%3Cpath d='M195.802 54.7233L116.556 54.7233C107.76 54.7233 100.625 64.5238 100.625 76.6086L100.625 118.819C74.7426 118.819 53.7538 147.649 53.7538 183.2L53.7538 184.189C26.273 184.189 4.00011 214.794 4.00011 252.537L4.0001 440.969C4.0001 478.712 26.273 509.317 53.7538 509.317L53.7538 510.306C53.7538 545.867 74.7354 574.687 100.625 574.687L100.625 616.897C100.625 628.982 107.759 638.783 116.556 638.783L195.802 638.783C195.802 669.01 213.638 693.506 235.639 693.506L467.771 693.506C489.773 693.506 507.608 669 507.608 638.783L586.855 638.783C595.651 638.783 602.785 628.982 602.785 616.897L602.785 574.687C628.668 574.687 649.657 545.857 649.657 510.306L649.657 509.317C677.138 509.317 699.411 478.722 699.411 440.969L699.411 252.537C699.411 214.794 677.138 184.189 649.657 184.189L649.657 183.2C649.657 147.639 628.675 118.819 602.785 118.819L602.785 76.6086C602.785 64.5238 595.651 54.7234 586.855 54.7234L507.608 54.7234C507.616 24.5062 489.78 -9.16324e-06 467.778 -1.0125e-05L235.647 -2.02718e-05C213.645 -2.12335e-05 195.809 24.5062 195.809 54.7233L195.802 54.7233Z' fill='%23C4C4C4'/%3E%3Cpath d='M693.411 252.537L693.411 440.969C693.411 458.714 688.167 474.534 679.988 485.77C671.805 497.011 661.007 503.316 649.657 503.316L643.657 503.316L643.657 510.306C643.657 526.949 638.736 541.777 631.077 552.297C623.414 562.823 613.337 568.687 602.786 568.687L596.786 568.687L596.786 616.897C596.786 621.808 595.328 626.011 593.268 628.841C591.204 631.676 588.862 632.782 586.855 632.782L501.609 632.782L501.609 638.782C501.609 652.759 497.475 665.172 491.089 673.944C484.7 682.722 476.381 687.506 467.771 687.506L235.639 687.506C227.028 687.506 218.71 682.724 212.321 673.948C205.936 665.178 201.802 652.764 201.802 638.782L201.802 632.782L116.556 632.782C114.549 632.782 112.207 631.676 110.143 628.841C108.083 626.011 106.625 621.808 106.625 616.897L106.625 568.687L100.625 568.687C90.0699 568.687 79.993 562.824 72.3315 552.301C64.6739 541.783 59.7534 526.955 59.7534 510.306L59.7534 503.316L53.7534 503.316C42.4034 503.316 31.6059 497.009 23.4223 485.766C15.2427 474.528 10.0005 458.709 10.0005 440.969L10.0005 252.537C10.0005 234.797 15.2427 218.978 23.4224 207.74C31.606 196.497 42.4035 190.19 53.7534 190.189L59.7534 190.189L59.7534 183.2C59.7534 166.557 64.6756 151.729 72.3345 141.209C79.9976 130.683 90.0746 124.818 100.625 124.818L106.625 124.818L106.625 76.6084C106.626 71.6981 108.083 67.4944 110.143 64.665C112.207 61.8298 114.549 60.7236 116.556 60.7236L201.809 60.7236L201.809 54.7236C201.809 40.7469 205.943 28.3338 212.329 19.5615C218.718 10.7836 227.037 5.99998 235.647 5.99998L467.779 5.99999C476.389 6.00015 484.707 10.7834 491.095 19.5605C497.48 28.3324 501.612 40.7455 501.609 54.7217L501.607 60.7236L586.855 60.7236C588.862 60.7237 591.204 61.8298 593.268 64.665C595.328 67.4944 596.786 71.6982 596.786 76.6084L596.786 124.818L602.786 124.818C613.341 124.818 623.418 130.682 631.08 141.205C638.737 151.723 643.657 166.551 643.657 183.2L643.657 190.189L649.657 190.189C661.007 190.189 671.804 196.497 679.988 207.74C688.167 218.978 693.411 234.797 693.411 252.537Z' stroke='%23B1492D' stroke-width='12'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_308_909' x='0' y='0' width='703.411' height='701.506' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_308_909'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_308_909' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  --mask-image: url("data:image/svg+xml,%3Csvg width='1924' height='1924' viewBox='-2 -422 1924 1924' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1920.47 538.301C1873.55 520.968 1841.96 489.077 1827.73 440.775C1815.22 398.315 1813.54 353.03 1796.33 311.896C1784.59 283.812 1764.51 254.978 1734.71 244.297C1724.19 240.531 1712.62 238.729 1701.08 238.942C1699.54 238.942 1697.99 238.972 1696.44 239.063C1691.56 239.306 1686.74 239.974 1681.99 241.017C1686.08 238.395 1689.97 235.459 1693.59 232.179C1694.74 231.146 1695.87 230.073 1696.95 228.98C1705.27 220.971 1712.17 211.516 1716.95 201.412C1730.46 172.781 1724.28 138.207 1712.72 110.042C1695.81 68.7862 1664.97 35.5792 1643.79 -3.29727C1619.7 -47.5091 1619.48 -92.3892 1640.41 -137.826C1640.8 -138.677 1640.6 -139.497 1640.09 -140.013C1639.57 -140.529 1638.75 -140.732 1637.9 -140.337C1592.46 -119.41 1547.58 -119.623 1503.37 -143.718C1464.49 -164.898 1431.29 -195.736 1390.03 -212.643C1361.87 -224.205 1327.29 -230.391 1298.66 -216.865C1288.56 -212.096 1279.1 -205.202 1271.09 -196.88C1270 -195.797 1268.93 -194.663 1267.89 -193.519C1264.61 -189.894 1261.68 -186.007 1259.06 -181.917C1260.1 -186.665 1260.77 -191.484 1261.02 -196.364C1261.1 -197.913 1261.13 -199.472 1261.13 -201.011C1261.34 -212.552 1259.54 -224.114 1255.78 -234.633C1245.09 -264.438 1216.26 -284.514 1188.18 -296.258C1147.04 -313.469 1101.76 -315.149 1059.3 -327.653C1010.99 -341.887 979.114 -373.474 961.772 -420.399C961.448 -421.28 960.729 -421.716 960 -421.716C959.271 -421.716 958.552 -421.28 958.228 -420.399C940.886 -373.474 909.005 -341.887 860.703 -327.653C818.243 -315.149 772.958 -313.469 731.823 -296.258C703.739 -284.514 674.906 -264.438 664.225 -234.633C660.459 -224.114 658.657 -212.552 658.869 -201.011C658.869 -199.472 658.9 -197.913 658.981 -196.364C659.234 -191.484 659.902 -186.665 660.945 -181.917C658.323 -186.007 655.387 -189.894 652.106 -193.519C651.074 -194.663 650 -195.797 648.907 -196.88C640.899 -205.202 631.443 -212.096 621.339 -216.865C592.708 -230.391 558.135 -224.205 529.969 -212.643C488.714 -195.736 455.507 -164.898 416.63 -143.718C372.418 -119.623 327.538 -119.41 282.101 -140.337C281.251 -140.732 280.431 -140.529 279.915 -140.013C279.398 -139.497 279.196 -138.677 279.591 -137.826C300.517 -92.3892 300.304 -47.5091 276.209 -3.29727C255.03 35.5792 224.192 68.7862 207.284 110.042C195.723 138.207 189.537 172.781 203.063 201.412C207.831 211.516 214.726 220.971 223.048 228.98C224.131 230.073 225.265 231.146 226.409 232.179C230.033 235.459 233.921 238.395 238.011 241.017C233.263 239.974 228.444 239.306 223.564 239.063C222.015 238.972 220.456 238.942 218.917 238.942C207.376 238.729 195.814 240.531 185.295 244.297C155.49 254.978 135.414 283.812 123.67 311.896C106.459 353.03 104.778 398.315 92.2748 440.775C78.0403 489.077 46.4532 520.968 -0.471955 538.301C-1.35275 538.625 -1.78809 539.344 -1.78809 540.073C-1.78809 540.801 -1.35275 541.52 -0.471955 541.844C46.4532 559.177 78.0403 591.067 92.2748 639.37C104.778 681.83 106.459 727.115 123.67 768.249C135.414 796.333 155.49 825.167 185.295 835.848C195.814 839.614 207.376 841.416 218.917 841.203C220.456 841.203 222.015 841.173 223.564 841.092C228.444 840.839 233.263 840.171 238.011 839.128C233.921 841.75 230.033 844.686 226.409 847.966C225.265 848.999 224.131 850.072 223.048 851.165C214.726 859.174 207.831 868.629 203.063 878.733C189.537 907.364 195.723 941.938 207.284 970.103C224.192 1011.36 255.03 1044.57 276.209 1083.44C300.304 1127.65 300.517 1172.53 279.591 1217.97C279.196 1218.82 279.398 1219.64 279.915 1220.16C280.431 1220.67 281.251 1220.88 282.101 1220.48C327.538 1199.56 372.418 1199.77 416.63 1223.86C455.507 1245.04 488.714 1275.88 529.969 1292.79C558.135 1304.35 592.708 1310.54 621.339 1297.01C631.443 1292.24 640.899 1285.35 648.907 1277.02C650 1275.94 651.074 1274.81 652.106 1273.66C655.387 1270.04 658.323 1266.15 660.945 1262.06C659.902 1266.81 659.234 1271.63 658.981 1276.51C658.9 1278.06 658.869 1279.62 658.869 1281.16C658.657 1292.7 660.459 1304.26 664.225 1314.78C674.906 1344.58 703.739 1364.66 731.823 1376.4C772.958 1393.61 818.243 1395.29 860.703 1407.8C909.005 1422.03 940.886 1453.62 958.228 1500.54C958.552 1501.43 959.271 1501.86 960 1501.86C960.729 1501.86 961.448 1501.43 961.772 1500.54C979.114 1453.62 1010.99 1422.03 1059.3 1407.8C1101.76 1395.29 1147.04 1393.61 1188.18 1376.4C1216.26 1364.66 1245.09 1344.58 1255.78 1314.78C1259.54 1304.26 1261.34 1292.7 1261.13 1281.16C1261.13 1279.62 1261.1 1278.06 1261.02 1276.51C1260.77 1271.63 1260.1 1266.81 1259.06 1262.06C1261.68 1266.15 1264.61 1270.04 1267.89 1273.66C1268.93 1274.81 1270 1275.94 1271.09 1277.02C1279.1 1285.35 1288.56 1292.24 1298.66 1297.01C1327.29 1310.54 1361.87 1304.35 1390.03 1292.79C1431.29 1275.88 1464.49 1245.04 1503.37 1223.86C1547.58 1199.77 1592.46 1199.56 1637.9 1220.48C1638.75 1220.88 1639.57 1220.67 1640.09 1220.16C1640.6 1219.64 1640.8 1218.82 1640.41 1217.97C1619.48 1172.53 1619.7 1127.65 1643.79 1083.44C1664.97 1044.57 1695.81 1011.36 1712.72 970.103C1724.28 941.938 1730.46 907.364 1716.95 878.733C1712.17 868.629 1705.27 859.174 1696.95 851.165C1695.87 850.072 1694.74 848.999 1693.59 847.966C1689.97 844.686 1686.08 841.75 1681.99 839.128C1686.74 840.171 1691.56 840.839 1696.44 841.092C1697.99 841.173 1699.54 841.203 1701.08 841.203C1712.62 841.416 1724.19 839.614 1734.71 835.848C1764.51 825.167 1784.59 796.333 1796.33 768.249C1813.54 727.115 1815.22 681.83 1827.73 639.37C1841.96 591.067 1873.55 559.177 1920.47 541.844C1921.35 541.52 1921.79 540.801 1921.79 540.073C1921.79 539.344 1921.35 538.625 1920.47 538.301ZM1652.73 826.989V826.969L1652.76 826.999C1652.76 826.999 1652.74 826.989 1652.73 826.989Z' fill='white'/%3E%3C/svg%3E");
}

@font-face {
  font-family: "BalooRegular";
  src: url("../../fonts/Baloo-Regular-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BerkshireSwash";
  src: url("../../fonts/BerkshireSwash-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ITFDevanagari";
  src: url("../../fonts/ITFDevanagari.ttc") format("truetype");
  font-weight: 700!important;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansGujaratiRegular";
  src: url("../../fonts/NotoSansGujarati-Regular.ttf") format("truetype");
  font-weight: 400!important;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansGujaratiBold";
  src: url("../../fonts/NotoSansGujarati-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BarlowCondensedBold";
  src: url("../../fonts/BarlowCondensed-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100vw !important;
  height: 100%;
  background-image: url("../images/bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 0.5s ease;
}

body[data-lang="hi"] *:not([class*="fa-"]):not(.fa),
body[data-lang="hi"] {
  font-family: "ITFDevanagari" !important;
  font-weight: 700;
}

body[data-lang="gu"] *:not([class*="fa-"]):not(.fa),
body[data-lang="gu"] {
  font-family: "NotoSansGujaratiRegular" !important;
  font-weight: 700;
}


body.page-ready {
  opacity: 1;
}

body.page-fade-out {
  opacity: 0;
}

/* GLOBAL VIDEO CENTERING */
video {
  object-position: center center;
}

.home-btn {
  position: fixed;
  top: 2.5vw;
  left: 4%;
  width: 3.5vw;
  z-index: 1000;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.home-btn:hover {
  transform: scale(1.15);
}

.home-btn img {
  width: 100%;
  display: block;
}

.page-title {
  position: fixed;
  top: 2%;
  left: 50%;
  height: auto;
  text-align: center;
  z-index: 10000;
  transition: opacity 3s ease;
  transform: translateX(-50%);
}

.page-title span {
  font-size: 3vw;
  text-align: center;
  color: #802922;
  font-family: "BerkshireSwash";
  -webkit-text-stroke: 0.1vw white;
  display: block;
  font-weight: bolder !important;
  word-wrap: normal;
  white-space: nowrap;
}

body[data-lang="hi"] .page-title span, body[data-lang="gu"] .page-title span{
   -webkit-text-stroke: 0.1vw transparent;
}

.language-container {
  position: fixed;
  top: 2.5vw;
  right: 5%;
  display: flex;
  width: 9vw;
  padding: 0.2vw 0.3vw;
  height: auto;
  justify-content: space-between;
  align-items: center;
  font-family: "BalooRegular"!important;
  border: 0.3vw solid white;
  background-color: transparent;
  border-radius: 50vw;
  pointer-events: auto;
  z-index: 999999;
}

.language-container div {
  width: 2.5vw;
  height: 2.5vw;
  font-size: 1.6vw;
  text-align: center;
  border: 0.3vw solid white;
  background: #802922 !important;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "BalooRegular"!important;
}

.language-container div:hover {
  background-color: #ffe2a2 !important;
  color: #802922;
}

.language-container div.active {
  background-color: #ffe2a2 !important;
  color: #802922;
}

.topics {
  position: relative;
  width: 80%;
  height: 40vw;
  padding: 10vw 2vw 0vw 2vw;
  gap: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: visible;
}

.topic-wrap {
  position: relative;
  width: 70vw;
  height: 100%;
  overflow: visible;
  transition:
    transform 2s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 2s cubic-bezier(0.22, 1, 0.36, 1);
}

.topic-wrap.topic-1 {
  transform: translateX(-70vw);
  opacity: 0;
}

.topic-wrap.topic-2 {
  transform: translateX(70vw);
  opacity: 0;
}

.main.show .topic-wrap.topic-1,
.main.show .topic-wrap.topic-2 {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.5s;
}

.topic-border {
  position: relative;
  width: 100%;
  height: 100%;
  background: #802922;
  box-shadow: 0 0.4vw 0.6vw rgba(0, 0, 0, 0.314);

  -webkit-mask-image: var(--mask-img-1);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 100% 100%;

  mask-image: var(--mask-img-1);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
}

.topics .topic {
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  right: 0.5vw;
  bottom: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  overflow: hidden;

  -webkit-mask-image: var(--mask-img-1);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 100% 100%;

  mask-image: var(--mask-img-1);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
}

.topics .topic video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}


.topic-wrap .num {
  position: absolute;
  top: 1vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  color: white;
  font-size: 2vw;
  line-height: 1;
  font-family: "BalooRegular", sans-serif;
  width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b1492d;
  border: 0.3vw solid white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.topic-wrap span {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  width: 100%;
  text-align: center!important;
  color: #ffffff;
  font-size: 2.5vw;
  font-family: "BarlowCondensedBold";
  opacity: 0;
  transition: opacity 0.6s ease;
}

body[data-lang="gu"] .topics .topic span, .num {
  font-family: "NotoSansGujaratiBold", "NotoSansGujaratiRegular", sans-serif !important;
  font-weight:bolder !important;
}

.main.show .topic-wrap .num,
.main.show .topic-wrap span {
  opacity: 1;
  transition-delay: 2.5s;
}

.main {
  opacity: 0;
  transition: opacity 0.8s ease;
  display: flex;
  justify-content: center;
}

.main.show {
  opacity: 1;
}

.main:not(.show) .topic-wrap .num,
.main:not(.show) .topic-wrap span {
  opacity: 0;
  transition-delay: 0s !important;
}

/* INTRO CIRCLE */
.circle {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70vw;
  height: 70vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  z-index: 999;
  overflow: visible;
  background: transparent;
  transition: opacity 1s ease;
}

.circle::before {
  content: "";
  position: absolute;
  inset: -200vmax;
  z-index: -1;
  background: radial-gradient(circle at 50% 0%,
      #ffe2a2 0%,
      #ffe2a2 38%,
      #ffe2a2 70%,
      #ffe2a2 100%);
  -webkit-mask:
    linear-gradient(#000 0 0),
    var(--mask-image) center / 100vw 100vw no-repeat;
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#000 0 0),
    var(--mask-image) center / 100vw 100vw no-repeat;
  mask-composite: exclude;
  transition:
    -webkit-mask-size 1.3s cubic-bezier(0.22, 1, 0.36, 1),
    mask-size 1.3s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 1s ease;
}

.circle.expand::before {
  -webkit-mask:
    linear-gradient(#000 0 0),
    var(--mask-image) center / 220vw 220vw no-repeat;
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#000 0 0),
    var(--mask-image) center / 220vw 220vw no-repeat;
  mask-composite: exclude;
}

.circle img{
  position: absolute;
  bottom: 11vw;
  left: 50%;
  transform:translateX(-50%);
  width: 23vw;
}

.circle div[data-lang-key="title"] {
  position: absolute;
  width: auto;
  height: 10vw;
  bottom:15vw;
 z-index: 9999;
 cursor: pointer;
  font-size: 7vw;
  border: 0.15vw solid white;
  border-radius: 10vw;
  text-align: center;
  color: #802922;
  -webkit-text-stroke: 0.1vw white;
  font-family: "BerkshireSwash";
  padding: 0.5vw 4vw;
  line-height: 1;
  font-weight: bolder !important;
  transition: opacity 0.25s ease;
  background-color: rgba(255, 255, 255, 0.392);
    backdrop-filter: blur(0.05vw);
  -webkit-backdrop-filter: blur(0.05);
  display: flex;
  justify-content: center;
  align-items:last baseline;
}

.circle div[data-lang-key="title"]:hover{
    background-color: rgba(255, 255, 255, 0.277);
      backdrop-filter: blur(0.3vw);
  -webkit-backdrop-filter: blur(0.3);
}

body[data-lang="hi"] .circle div, body[data-lang="gu"] .circle div{
   -webkit-text-stroke: 0.1vw transparent;
   text-align: center;
}


.circle button {
  position: relative;
  overflow: hidden;
  padding: 0.1vw 1.5vw;
  border: none;
  border-radius: 50vw;
  background: #ffe2a2;
  color: #802922;
  font-size: 2vw;
  font-family: "BalooRegular", sans-serif;
  cursor: pointer;
  font-weight: lighter;
  transition: transform 0.5s ease-in-out, color 1s ease, opacity 0.25s ease;
  box-shadow: 0 0.2vw 0.1vw rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.circle.expand div[data-lang-key="title"],
.circle.expand button {
  opacity: 0;
}

.circle button::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -180%;
  width: 160%;
  height: 220%;
  background: #802922;
  border-radius: 50%;
  transform: translateX(-50%) scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.5s ease;
  z-index: -1;
}

.circle button:hover {
  transform: scale(1.05);
  color: #ffe2a2;
}

.circle button:hover::before {
  transform: translateX(-50%) scaleY(2);
}

.circle.expand {
  opacity: 0;
  pointer-events: none;
}

main {
  position: relative;
  width: 100%;
  height: 48vw;
}

.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}

.home-container .left-home-container,
.home-container .right-home-container {
  position: relative;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-container .left-home-container {
  width: 55%;
  padding: 5vw 0 1vw 0;
}

.home-container .right-home-container {
  width: 45%;
  flex-direction: column;
  padding: 0 12vw 0 0;
  gap: 0.5vw;
}

.design {
  width: 22vw;
  height: auto;
}

.design img {
  width: 100%;
  display: block;
}

.image-swiper-border {
  width: 70%;
  height: 100%;
  position: relative;
  background: #802922;
  box-shadow: 0 0.4vw 0.6vw rgba(0, 0, 0, 0.314);

  -webkit-mask-image: var(--mask-img-2);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 100% 100%;

  mask-image: var(--mask-img-2);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
}

.image-swiper {
  position: absolute;
  inset: 0.5vw;
  overflow: hidden;
  background: white;

  -webkit-mask-image: var(--mask-img-2);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 100% 100%;

  mask-image: var(--mask-img-2);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
}

.image-swiper .swiper-wrapper,
.image-swiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.image-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-swiper .swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
  margin: 0 auto;
}

.custom-nav {
  position: absolute;
  bottom: 42%;
  transform: translateY(-50%);
  display: flex;
  gap: 40vw;
  z-index: 20;
}

.custom-prev,
.custom-next {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 1.4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: black;
  transform: scale(1);
  opacity: 0.8;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.custom-next:hover,
.custom-prev:hover {
  transform: scale(1.05);
  opacity: 1;
}

.custom-prev img,
.custom-next img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.custom-prev.hidden,
.custom-next.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.text-swiper {
  width: 100%;
  height: 35%;
  background-color: rgba(255, 255, 255, 0.378);
  box-shadow: 0 0.3vw 0.2vw rgba(0, 0, 0, 0.314);
  padding: 1vw;
  border-radius: 1vw;
}

.text-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box {
  text-align: center;
  font-family: "BalooRegular";
}
body[data-lang="hi"] .text-box p{
line-height: 3vw!important;
}

body[data-lang="gu"] .text-box p {
line-height: 3vw!important;
}

.text-box p {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 85%;
  font-size: 2vw;
  line-height: 1;
  color: #802922;
  font-weight: 700;
  font-family: "BarlowCondensedBold";
}

.swiper-fade .swiper-slide {
  transition-timing-function: ease-in-out;
}

html[lang="Hindi"] .page-title,
html[lang="Gujarati"] .page-title {
  font-weight: 700;
}

.pages {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  width: 15%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

html[lang="Gujarati"] .page {
  font-weight: 700;
}
.pages .page {
  text-decoration: none;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background-color: #802922;
  font-family: "BalooRegular";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0.35vw solid white;
  font-size: 2.3vw;
  box-shadow: 0 0.25vw 0.2vw rgba(0, 0, 0, 0.314);
  transform: scale(1);
  transition:
    background-color 0.3s ease,
    border 0.3s ease,
    color 0.3s ease,
    border-radius 0.3s ease;
}

.pages .page:hover {
  background-color: #ffe2a2;
  color: #802922;
  animation: pageRadiusBounce 0.35s ease;
}

.pages .page.active {
  background-color: #ffe2a2;
  color: #802922;
}

@keyframes pageRadiusBounce {
  0% {
    border-radius: 50%;
  }

  50% {
    border-radius: 45%;
  }

  100% {
    border-radius: 50%;
  }
}

.pranam-container {
  position: absolute;
  width: 45vw;
  height: auto;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pranam-container>.pranam-img {
  position: relative;
  width: 85%;
  height: auto;
  display: block;
}

.pranam-container>.pranam-img>img {
  width: 100%;
  display: block;
}

.pranam-img span {
  z-index: 15;
  position: absolute;
  top: 0%;
  left: 50%;
  font-size: 3.4vw;
  transform: translateX(-50%);
  font-family: "BalooRegular";
  color: #802922;
}

html[lang="Gujarati"] .pranam-img span, .home-btn-1 span {
  font-weight: bolder;
}

.pranam-container .home-btn-1 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);
  width: 15vw;
  height: auto;
  display: block;
  transition: transform 0.2s ease;
}

  .pranam-video{
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("./../images/pranam-bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%);
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    background-color: #f6f6f6;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    padding: 0;
  }
.pranam-video video {
    width: 90%;
    height: 83%;
    object-fit: cover;
    object-position: center center;
    margin: 0 auto;

    /* Very light feather on ALL edges */
    -webkit-mask-image:
        linear-gradient(
            to bottom,
            transparent 0%,
            rgba(0, 0, 0, 0.8) 2%,
            rgba(0, 0, 0, 0.95) 4%,
            black 6%,
            black 90%,
            rgba(0, 0, 0, 0.95) 96%,
            rgba(0, 0, 0, 0.8) 98%,
            transparent 100%
        ),
        linear-gradient(
            to right,
            transparent 0%,
            rgba(0, 0, 0, 0.8) 2%,
            rgba(0, 0, 0, 0.95) 4%,
            black 6%,
            black 90%,
            rgba(0, 0, 0, 0.95) 96%,
            rgba(0, 0, 0, 0.8) 98%,
            transparent 100%
        );

    -webkit-mask-composite: source-in;

    mask-image:
        linear-gradient(
            to bottom,
            transparent 0%,
            rgba(0, 0, 0, 0.8) 2%,
            rgba(0, 0, 0, 0.95) 4%,
            black 6%,
            black 90%,
            rgba(0, 0, 0, 0.95) 96%,
            rgba(0, 0, 0, 0.8) 98%,
            transparent 100%
        ),
        linear-gradient(
            to right,
            transparent 0%,
            rgba(0, 0, 0, 0.8) 2%,
            rgba(0, 0, 0, 0.95) 4%,
            black 6%,
            black 90%,
            rgba(0, 0, 0, 0.95) 96%,
            rgba(0, 0, 0, 0.8) 98%,
            transparent 100%
        );

    mask-composite: intersect;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}


.home-btn-1:hover {
  display: block;
  transform: translateX(-50%) scale(1.05);
}

.pranam-container .home-btn-1 img {
  width: 100%;
  display: block;
}

.home-btn-1 span {
  z-index: 15;
  position: absolute;
  top: 45%;
  left: 38%;
  font-size: 2.5vw;
  transform: translateY(-50%);
  font-family: "BalooRegular";
  color: #821b00;
}

.back-btn {
  position: absolute;
  left: 4%;
  top: 4%;
  width: 3vw;
  height: 3vw;
  background-color: #802922;
  border: 0.25vw solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.3s ease;
  z-index: 50;
}

.back-btn i {
  color: white;
  font-size: 1vw;
  transition: font-size 0.3s ease;
}

.back-btn:hover {
  transform: scale(1.05);
  background-color: white;
}

.back-btn:hover i {
  font-size: 1.2vw;
  color: #802922 !important;
}


.pranam-link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 4vw;
  top: 39vw;
  width: 9vw;
  height: auto;
  text-decoration: none;

  animation: pranamPop 1.2s ease-in-out infinite;
  transform-origin: center;
}

.pranam-link img {
  position: relative;
  width: 100%;
  display: block;
  object-fit: contain;
}

.pranam-link span {
  position: absolute;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3vw;
  padding-right: 1vw;
    font-family: "BalooRegular";

}

@keyframes pranamPop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.12);
  }

  100% {
    transform: scale(1);
  }
}